/* General body styles */
  body {
    background-color: #ffffff;/* White background */
    display: flex;           /* Flexbox to align content vertically */
    flex-direction: column;
    align-items: center;
    color: #faf3f3;         /* Text color (almost white, you may need to check contrast) */
    font-family: "Times New Roman", serif;
  }

/* Main title */
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }


  form {
    padding: 25px 30px;
    border-radius: 12px;                        /* Rounded edges */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Shadow for floating effect */
    width: 100%;
                        /* Maximum width */
    box-sizing: border-box;                  /* Padding does not add to the width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
/* Bottom spacing between divs (if you use a lot of div containers) */
  div {
    margin-bottom: 20px;
  }

/* Form labels */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }

/* Input fields */
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }

/* Button */
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
/* Button hover effect */
  button:hover {
    background-color: #1e5085;
  }

/* Image in header */
  img {
    width: 20%;
    box-shadow: 10px 10px 10px rgb(0, 38, 255);  /* Blue shadow */
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
  }

/* Result below the form */
  #resultado {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    color: #333;
    font-weight: bold;
    padding: 50px;
  }

  /* Fixed footer at the bottom */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 5px;
  }
  section {
    padding: 20px;
  }

/* Responsive: Small screens (mobile) */
  @media (max-width: 480px) {
    body {
      padding: 20px 10px;
      background-color: #d0d4ce; /* Grayer background for mobile */
      color: #333;
      font-family: "Times New Roman", serif;
    }

    form {
      padding: 20px;
    }

    input,
    button {
      font-size: 14px;
      padding: 10px;
    }

    #resultado {
      font-size: 16px;
    }
  }

 /* Responsive: Tablets (between 768px and 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    form {
      max-width: 90%;
    }

    input,
    button {
      font-size: 15px;
 
    }

    #resultado {
      font-size: 17px;
    }
  }
